/* here is utilies  */
body{
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,500&family=Mukta:wght@400;600&family=Poppins:wght@500;700&family=Tiro+Telugu&display=swap');
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
a{
    text-decoration: none;
}

/* hero section is here */
.hero-section{
    width: 1321px;
    background-color: #161616;
    border-radius: 30px;
    margin-top: 20px;
}
main{
    display: flex;
    justify-content: center;
     align-items: center;
     flex-direction: column;
}
.main-area{
    color: aliceblue;
    display: flex;
    padding: 20px ;
    
}
.main-area img{
    width: 581px;
}
.text-items{
    width: 531px;
    margin:50px 80px;
    padding: 0px 30px;
}
.text-items .title-text{
    font-size: 70px;
    margin-bottom: 10px;
}
.text-items P{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.hero-btn{
    width: 140px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
}
.fa-icon::before{
    width: 20px;
    margin-left: 9px;
}

/* here is our button of blog section */

.button-area{
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
}
.all-btn{
    width: 252px;
    height: 252px;
    display:flow-root;
}
.button-area button{
    width: 252px;
    height: 64px;
    display: block;
    margin: 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.blog-banner img{
    width: 312px;
    height: 175px;
}
.click-btn{
    background-color: #DD0000;
    color: #fff;
}
/* here is match-area section */
.blog-duration-cmnt{
    width: 143px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.blog-items{
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin: 20px;
}
.blog-items button{
    width: 100px;
    height: 32px;
    margin: 10px;
    background-color: transparent;
    border:1px solid #E8E8E8;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
   
}
.blog-title p{
    margin: 10px;
}
.another-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin-left: 360px;
}

/* here is footer style */

.Global-footer{
    width: 100%;
    height: 444px;
    background-color: #000000;
    margin-top: 100px;
}
.Global-footer hr{
    width: 75%;
    margin-top: 50px;
    border: 1px solid #ffffff;
}
.Global-footer .text{
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 50px 0;
}
.list ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.list ul li{
    margin-left:20px;
}
.list ul li a{
    color: #fff;
    
}